//=========== Fonts ==============

@font-face {
  font-family: "ubuntu";
  src: url("../../assets/fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-style: normal;
  unicode-range: "U+0-10FFFF";
}

$mainfont: ubuntu, "Courier New", monospace, sans-serif;


//=========== Colors ==============

/* HXD */
$grey-background: #ccc;
$darkgrey-color: #111;
$link-hover: #ef0066;
$link: #000;

//============ Options ==============
$select: #fff;
$optionAll: #ffff;
$option1: #9873bb;
$option2: #ad916f;
$option3: #07f7bb;
$option4: #e9bb23;
$option5: #647a55;
$option6: #218b82;
$option7: #c27b41;
$option8: #91a80c;
$option9: #222524;
$option10: #b32f4e;

//=========== Dimensions ==============
$nav: 75px;
$footer: 50px;
$margs: 27px;
